$bg-prov: hsla(180, 70%, 40%, 0.8);
$bdRadius-medium: 4px;
$bdRadius-small: 2px;
$highlightedCell: hsla(39, 100%, 45%, 1);

%span_article-content {
  display: grid;
  grid-template-columns: repeat(4, 25fr);
  grid-gap: 0.5rem;
  .cell {
    background: $bg-prov;
    text-align: center;
    padding: 0.3rem;
    border-radius: $bdRadius-small;
  }
}

:root {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainContainer {
  max-width: 1700px;
  margin: 0 auto;
}

header {
  background: $bg-prov;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  p {
    font-size: 1.2rem;
  }
}

main {
  width: 80%;
  margin: 0 auto;
  border: 0.4rem solid $bg-prov;
  border-radius: $bdRadius-medium;
  .section {
    padding: 1.5rem;
    .sectionTitle {
      text-align: center;
    }
    .article {
      border: 0.2rem solid $bg-prov;
      border-radius: $bdRadius-medium;
      margin: 1rem 0;
      .articleTitle {
        margin: 0.8rem;
        text-align: center;
      }
      .articleContent {
        width: 80%;
        margin: 0 auto 0.8rem auto;
        display: grid;
      }
    }
  }
}

.article1 {
  .articleContent {
    @extend %span_article-content;
    .cell3 {
      grid-column: span 2;
      grid-row: span 2;
      background: $highlightedCell;
      display: grid;
      align-content: center;
    }
  }
}

.article2 {
  .articleContent {
      @extend %span_article-content;
      .cell3 {
          grid-column: span 3;
          background: $highlightedCell;
      }
  }
}
