$bg-prov: hsla(180, 70%, 40%, 0.8);
$bdRadius-medium: 4px;
$bdRadius-small: 2px;
$highlightedCell: hsla(39, 100%, 45%, 1);

%span_article-content {
  display: grid;
  grid-template-columns: repeat(4, 25fr);
  grid-gap: 0.5rem;
  .cell {
    background: $bg-prov;
    text-align: center;
    padding: 0.3rem;
    border-radius: $bdRadius-small;
  }
}

%auto_article-content {
  @extend %span_article-content;
  border: 2px dashed $highlightedCell;
  border-radius: $bdRadius-small;
}

%area_article_content {
  @extend %span_article-content;
}

:root {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainContainer {
  max-width: 1700px;
  margin: 0 auto;
}

header {
  background: $bg-prov;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  p {
    font-size: 1.2rem;
  }
}

main {
  width: 80%;
  margin: 0 auto;
  border: 0.4rem solid $bg-prov;
  border-radius: $bdRadius-medium;
  .section {
    padding: 1.5rem;
    .sectionTitle {
      text-align: center;
    }
    .article {
      border: 0.2rem solid $bg-prov;
      border-radius: $bdRadius-medium;
      margin: 1rem 0;
      .articleTitle {
        margin: 0.8rem;
        text-align: center;
      }
      .articleContent {
        width: 80%;
        margin: 0 auto 0.8rem auto;
        display: grid;
      }
    }
  }
}

.article1 {
  .articleContent {
    @extend %span_article-content;
    .cell3 {
      grid-column: span 2;
      grid-row: span 2;
      background: $highlightedCell;
      display: grid;
      align-content: center;
    }
  }
}

.article2 {
  .articleContent {
    @extend %span_article-content;
    .cell3 {
      grid-column: span 3;
      background: $highlightedCell;
    }
  }
}

.article3 {
  .articleContent {
    @extend %span_article-content;
    .cell3 {
      grid-column: span 5;
      background: $highlightedCell;
    }
  }
}

.article4 {
  .articleContent {
    @extend %span_article-content;
    grid-template-columns: repeat(10, 10fr);
    grid-auto-flow: dense;

    .cell:nth-child(3n) {
      grid-column: span 2;
      background: $highlightedCell;
    }

    .cell2 {
      grid-row: span 2;
      background: $highlightedCell;
    }

    .cell8 {
      grid-row: span 2;
      background: $highlightedCell;
    }

    .cell14 {
      grid-column: span 3;
      grid-row: span 4;
      background: $highlightedCell;
    }
  }
}

.article5 {
  .articleContent {
    @extend %auto_article-content;
    grid-template-columns: repeat(auto-fill, minmax(35px, auto));
  }
}

.article6 {
  .articleContent {
    @extend %auto_article-content;
    grid-template-columns: repeat(auto-fit, minmax(35px, auto));
  }
}

.article7 {
  .articleContent {
    @extend %area_article_content;
    grid-template-rows: 50px repeat(2, 100px) 50px;
    grid-template-areas:
      "header header header header"
      "sidebar1 main main sidebar2"
      "sidebar1 main main sidebar2"
      "footer footer footer footer";

    .cell {
      display: grid;
      align-content: center;
    }

    .cell1 {
      background: $highlightedCell;
      grid-area: header;
    }

    .cell2 {
      background: #0da39e;
      grid-area: main;
    }

    .cell3 {
      background: #51bebe;
      grid-area: sidebar1;
    }

    .cell4 {
      background: #338a7b;
      grid-area: sidebar2;
    }

    .cell5 {
      background: #c46e39;
      grid-area: footer;
    }
  }
}

.article8 {
  .articleContent {
    grid-gap: 0.5rem;
    .cell {
      background: $bg-prov;
      text-align: center;
      padding: 0.3rem;
      border-radius: $bdRadius-small;
    }
    grid-template-areas:
      "square1 square1 square2 square2 square2"
      "square1 square1 square2 square2 square2"
      "square3 square3 square4 square4 square4"
      "square3 square3 square4 square4 square4";
    .cell {
      display: grid;
      align-content: center;
    }

    .cell1 {
      grid-column: square1-start / square1-end;
      grid-row: square1-start / square1-end;
    }

    .cell2 {
      grid-column: square2-start / square2-end;
      grid-row: square2-start / square2-end;
    }

    .cell3 {
      grid-column: square3-start / square3-end;
      grid-row: square3-start / square3-end;
    }

    .cell4 {
      grid-column: square4-start / square4-end;
      grid-row: square4-start / square4-end;
      background: $highlightedCell;
      font-size: 4rem;
    }
  }
}

.article9 {
  .articleContent {
    @extend %span_article-content;
    grid-template-columns: [sidebarLeft-start] 25fr [sidebarLeft-end main-start] 50fr [main-end sidebarRight-start] 25fr [sidebarRight-end];
    grid-template-rows:
      [header-start] 25fr [header-end
      content-start] 50fr [content-end
      footer-start] 25fr [footer-end];
    height: 400px;

    .cell {
      display: grid;
      align-content: center;
    }

    .cell1 {
      grid-column: sidebarLeft-start / sidebarRight-end;
      grid-row: header-start / header-end;
      background: $highlightedCell;
    }

    .cell2 {
      grid-column: sidebarLeft-start / sidebarLeft-end;
      grid-row: content-start / content-end !important;
      background: $highlightedCell;
    }

    .cell3 {
      grid-column: 2 / main-end;
      grid-row: content-start / 3;
      background: $highlightedCell;
    }

    .cell5 {
      grid-column: 1 / span 3;
      grid-row: footer-start / footer-end;
      background: $highlightedCell;
    }
  }
}

@media screen and (max-width: 600px) {
  .article4 {
    .articleContent {
      grid-template-columns: repeat(5, 20fr);
    }
  }

  .article7 {
    .articleContent {
      grid-template-areas:
        "sidebar1 sidebar1 sidebar1 sidebar1"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
      .cell1,
      .cell4 {
        display: none;
      }
    }
  }

  .article9 {
    .articleContent {
      grid-template-columns: [sidebarLeft-start] 50fr [sidebarLeft-end main-start] 50fr [sidebarRight-end];

      .cell1,
      .cell2,
      .cell3,
      .cell5 {
        grid-column: 1 / sidebarRight-end;
      }
    }
  }
}
