.article8 .articleContent, .article3 .articleContent, .article2 .articleContent, .article1 .articleContent, .article6 .articleContent, .article5 .articleContent, .article4 .articleContent {
  display: grid;
  grid-template-columns: repeat(4, 25fr);
  grid-gap: 0.5rem;
}
.article8 .articleContent .cell, .article3 .articleContent .cell, .article2 .articleContent .cell, .article1 .articleContent .cell, .article6 .articleContent .cell, .article5 .articleContent .cell, .article4 .articleContent .cell {
  background: rgba(31, 173, 173, 0.8);
  text-align: center;
  padding: 0.3rem;
  border-radius: 2px;
}

.article5 .articleContent, .article4 .articleContent {
  border: 2px dashed #e69500;
  border-radius: 2px;
}

:root {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainContainer {
  max-width: 1700px;
  margin: 0 auto;
}

header {
  background: rgba(31, 173, 173, 0.8);
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
header h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
header p {
  font-size: 1.2rem;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 0.4rem solid rgba(31, 173, 173, 0.8);
  border-radius: 4px;
}
main .section {
  padding: 1.5rem;
}
main .section .sectionTitle {
  text-align: center;
}
main .section .article {
  border: 0.2rem solid rgba(31, 173, 173, 0.8);
  border-radius: 4px;
  margin: 1rem 0;
}
main .section .article .articleTitle {
  margin: 0.8rem;
  text-align: center;
}
main .section .article .articleContent {
  width: 80%;
  margin: 0 auto 0.8rem auto;
  display: grid;
}

.article1 .articleContent .cell3 {
  grid-column: span 2;
  grid-row: span 2;
  background: #e69500;
  display: grid;
  align-content: center;
}

.article2 .articleContent .cell3 {
  grid-column: span 3;
  background: #e69500;
}

.article3 .articleContent .cell3 {
  grid-column: span 5;
  background: #e69500;
}

.article4 .articleContent {
  grid-template-columns: repeat(auto-fill, minmax(35px, auto));
}

.article5 .articleContent {
  grid-template-columns: repeat(auto-fit, minmax(35px, auto));
}

.article6 .articleContent {
  grid-template-rows: 50px repeat(2, 100px) 50px;
  grid-template-areas: "header header header header" "sidebar1 main main sidebar2" "sidebar1 main main sidebar2" "footer footer footer footer";
}
.article6 .articleContent .cell {
  display: grid;
  align-content: center;
}
.article6 .articleContent .cell1 {
  background: #e69500;
  grid-area: header;
}
.article6 .articleContent .cell2 {
  background: #0DA39E;
  grid-area: main;
}
.article6 .articleContent .cell3 {
  background: #51bebe;
  grid-area: sidebar1;
}
.article6 .articleContent .cell4 {
  background: #338A7B;
  grid-area: sidebar2;
}
.article6 .articleContent .cell5 {
  background: #c46e39;
  grid-area: footer;
}

.article7 .articleContent {
  grid-gap: 0.5rem;
  grid-template-areas: "square1 square1 square2 square2 square2" "square1 square1 square2 square2 square2" "square3 square3 square4 square4 square4" "square3 square3 square4 square4 square4";
}
.article7 .articleContent .cell {
  background: rgba(31, 173, 173, 0.8);
  text-align: center;
  padding: 0.3rem;
  border-radius: 2px;
}
.article7 .articleContent .cell {
  display: grid;
  align-content: center;
}
.article7 .articleContent .cell1 {
  grid-column: square1-start/square1-end;
  grid-row: square1-start/square1-end;
}
.article7 .articleContent .cell2 {
  grid-column: square2-start/square2-end;
  grid-row: square2-start/square2-end;
}
.article7 .articleContent .cell3 {
  grid-column: square3-start/square3-end;
  grid-row: square3-start/square3-end;
}
.article7 .articleContent .cell4 {
  grid-column: square4-start/square4-end;
  grid-row: square4-start/square4-end;
  background: #e69500;
  font-size: 4rem;
}

.article8 .articleContent {
  grid-template-columns: [sidebarLeft-start] 25fr [sidebarLeft-end main-start] 50fr [main-end sidebarRight-start] 25fr [sidebarRight-end];
  grid-template-rows: [header-start] 25fr [header-end content-start] 50fr [content-end footer-start] 25fr [footer-end];
  height: 400px;
}
.article8 .articleContent .cell {
  display: grid;
  align-content: center;
}
.article8 .articleContent .cell1 {
  grid-column: sidebarLeft-start/sidebarRight-end;
  grid-row: header-start/header-end;
  background: #e69500;
}
.article8 .articleContent .cell2 {
  grid-column: sidebarLeft-start/sidebarLeft-end;
  grid-row: content-start/content-end !important;
  background: #e69500;
}
.article8 .articleContent .cell3 {
  grid-column: 2/main-end;
  grid-row: content-start/3;
  background: #e69500;
}
.article8 .articleContent .cell5 {
  grid-column: 1/span 3;
  grid-row: footer-start/footer-end;
  background: #e69500;
}

@media screen and (max-width: 600px) {
  .article6 .articleContent {
    grid-template-areas: "sidebar1 sidebar1 sidebar1 sidebar1" "main main main main" "main main main main" "footer footer footer footer";
  }
  .article6 .articleContent .cell1,
.article6 .articleContent .cell4 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
